<h3>Hi there,</h3>

<p>
  <p>We are facing an issue to convert this PDF(<b><%= @file_name %></b>) to xls.</p>
  <p>Please contact to the support for more info.</p>

  <p>----------Error----------</p>
  <p><%= @error %></p>
</p>
