<div class="text-center">
  <div class="logo">
    <%= image_tag asset_path("logo.png") %>    
  </div>

  <div>
    <h1>Sage Insurance PDF Converter</h1>
  </div>

  <div>
    <h3>Please upload pdf file below, we will send an email to your inbox.</h3>
  </div>

  <div>
    <%= form_with(url: "/pdftoxls/convert", method: "post", multipart: true, data: {turbolinks: false, remote: false}) do %>
      <div class="upload-pdf">
        <%= label_tag(:pdf, "PDF File", style: "padding-right: 20px;") %>
        <%= file_field_tag(:pdf, required: true) %>
      </div>
      <div class="email-field">
        <%= email_field_tag(:email, "", placeholder: "Enter email address", required: true) %>
        <%= submit_tag("Convert and Send") %>
      </div>
    <% end %>
  </div>
</div>