/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

.text-center {
  display: inline-block;
  width: 100%;
  text-align: center;
}

.logo {
  width: 30%;
  margin: 0 auto;
}

.logo img {
  width: 100%;
  display: inline-block;
}

.upload-pdf {
  padding-bottom: 20px;
}

.email-field input[type="email"] {
  width: 250px;
  height: 35px;
  border: 1px solid #535456;
  border-radius: 5px;
  padding-left: 10px;
}

input[type="submit"] {
  border: none;
  padding: 0 20px;
  background-color: #535456;
  border-radius: 5px;
  color: #ADD46D;
  line-height: 37px;
  font-size: 16px;
  cursor: pointer;
}